<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lukianbat.androidanimationworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAnimationWorld">
        <profileable android:shell="true" />

        <activity
            android:name=".compose.ComposeActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidAnimationWorld">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="ru.lukianbat.androidanimationworld.TEST_COMPOSE_ACTION" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ValueAnimatorActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidAnimationWorld">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="ru.lukianbat.androidanimationworld.TEST_VIEW_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MotionActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidAnimationWorld">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="ru.lukianbat.androidanimationworld.TEST_MOTION_ACTION" />
            </intent-filter>
        </activity>
    </application>
</manifest>